* {
  margin: 0;
  box-sizing:border-box;
}

body {
  font-family: 'roboto',sans-serif;
    max-width: 1440px;
  margin:0 auto;
  padding:0;

}
.bloc-loader
{
 width:100vw;
 height:100vh;
 display:flex;
 justify-content:center;
 align-items:center;
 background:white;
 position: fixed;
 z-index: 10000;
 top:0vw;
 left:0vh;
}
.ball
{
 width:40px;
 height:40px;
 background:black;
 border-radius:50%;
 margin:0 15px;
 animation:ball 0.8s infinite 0.3s;
 position:relative;
}
.b2
{
  animation-delay:0.6s;
}
.b3
{
  animation-delay:0.9s;
}

@keyframes ball
{
 100% {transform:translatey(-30px);
 }
}

.bloc-loader p 
{
 display:flex;
 justify-content:center;
 align-items:center;
 margin-left:-170px;
 margin-top:80px;
 font-size:22px;
}
.fin-loader
{
 animation:fin-loader 1.5s linear both;
 animation-delay:3000ms;
}
@keyframes fin-loader 
{
 0% { opacity:1;
  z-index: 10000;}

 100% 
  { opacity:0;
    z-index: -10000;}
}

/* page accueil */
header {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.logo {
  height: 44px;
  width: 162px;
  padding-top:10px
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(234, 234, 234, 1);
  height: 40px;
  width:100%;

}


button {
  background: rgba(234, 234, 234, 1);
  border: rgba(234, 234, 234, 1);
  font-size: 16px;
  padding-left: 10px;
  cursor: pointer;
  font-weight:bold;
 
}

/*partie reservation*/
.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #F7F7F7;
}

.reservation h1 {
  font-size: 24px;
  flex-wrap: wrap;
  width: 46%;
  text-align: center;
  margin-top: 20px;
  font-weight:700;
}

.reservation p {
  font-size: 18px;
  flex-wrap: wrap;
  width: 85%;
  text-align: center;
  margin-top: 10px;
}

.btn_gradient {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: white;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding:25px 20px 25px 20px;
}
.btn_gradient:hover
{
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
 background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}
/*partie fonctionnement*/
.fonctionnement {
  display:flex;
  flex-direction: column;
 justify-content:center;
  padding-left:30px;
}
.fonctionnement h2 {
  font-size: 24px;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  font-weight:700;
}
.btn{
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 20px;
  gap:20px;
  width: 95%;
  height: 72.38px;
  position:relative;
}
.btn:hover
{
  background: rgba(245, 237, 255, 1);
cursor:pointer;
}
.btn p
{
  background:  #9356DC;
width: 24px;
height: 24px;
  border-radius:25px;
  display:flex;
  text-align:center;
  justify-content:center;
  align-items:center;
  color:white;
  font-size:14px;
  position:absolute;
  left:-10px;
}
.fa-mobile-screen-button,
.fa-list-ul {
  color: rgba(126, 126, 126, 1);
  ;
}

.fonctionnement a {
  text-decoration: none;
  color: black;
}

.fa-store {
  color: #9356DC;
}

/*partie restaurants*/
.restaurant {
  display: flex;
  flex-direction: column;
  justify-content:center;
 padding-left:30px;  
  width: 100%;
  background: #F7F7F7;
  margin-top: 30px;
  padding-right:30px; 
}
.restaurant h2 {
  font-size: 24px;
  padding-top: 20px;
  width: 100%;
  padding-bottom: 15px;
  font-weight:700;
}
.nv_palette , .nv_note
{
  font-size:14px;
  font-weight:bold;
  color: #008766;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
border-radius: 2px;
  width: 80px;
height: 29px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
right:20px;
  top:18px;
}
.card
{
   width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  text-decoration: none;
  color: black;
  position:relative;
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 2px 5px 1px #f2f2f2;
   
}

.img_menu {
  width: 100%;
  height: 231px;
  border-radius: 20px 20px 0px 0px;
  object-fit:cover;

}

.align_contenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contenu_menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70px;
  justify-content: center;
  padding-left: 20px;
}

.contenu_menu h3 {
  font-size: 18px;
  font-weight:700;
}

.contenu_menu p {
  font-size: 17px;
}
.like1
{
  position:absolute;
  top:230px;
 right:0px;
}
.like1 .fa-heart
{
 opacity:1;
 
}
.like1:hover .fa-heart{
 opacity:0;
}
.like1 .fa-solid
{
 position:absolute;
 top:0px;
 background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
 background-clip: text;
  -webkit-background-clip: text;color: transparent;
  cursor:pointer;
  opacity:0;
}
.like1:hover .fa-solid{
  opacity:1;
}
.restaurant a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  text-decoration: none;
  color: black;
  padding-bottom: 30px;
  position:relative;
}

/*footer*/
footer {
  background: rgba(53, 53, 53, 1);
  display:flex;
  flex-direction: column;
  justify-content:center;
  width: 100%;
  padding-top:20px;
}
footer h5 , footer h4{
  font-family: Shrikhand;
  color: white;
  font-size: 18px;
  padding-left: 40px;
  padding-bottom: 20px;
  font-style: italic;
}

.proposition,
.partenaire {
  display: flex;
  gap: 10px;
  padding-left: 20px;
 
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.fa-utensils,
.fa-handshake-angle {
  color: white;
}

.link {
  display:flex;
  padding-left:20px;
  gap: 10px;
}

/*Restaurant*/

/*partie header */
.align_header
{
  display:flex;
  width:100%;
  padding-bottom:10px;
  margin-top:10px;
}
header a 
{
  display:flex;
  justify-content:start;
  align-items:center;
  text-decoration:none;
  color:black;
  padding-top:15px;
  padding-left:20px;
  font-size:20px;
}
.logo
{
  display:flex;
  justify-content:center;
  align-items:center;
  margin:auto;
}
.img_delice
{
 height: 275px;
  width:100%;
  position:absolute;
  z-index: -1;
  top: 79px;
}

/*partie main*/
.align_titre
{
  display:flex;
  justify-content:space-between;
  width:100%;
 }
.choisir .like2
{
  position:relative;
}
.fa-heart
{
display:flex;
  justify-content:center;
  align-items:center;
  font-size:21px;
  padding-right:25px;
  padding-top:30px;
 transition: all 500ms;
  }
.like2 .fa-regular
{
 opacity:1;
}
.like2:hover .fa-regular 
{
 opacity:0;
}
.like2 .fa-solid
{
  position:absolute;
  right:0px;
  top:0px;
 background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;color: transparent;
  opacity:0;
}
.like2:hover .fa-solid 
{
  opacity:1;
}
section.choisir
{
  display:flex;
  flex-direction:column;
 justify-content:center;
  background: #F7F7F7;
 border-radius:40px 40px 0px 0px;
 margin-top:240px;
  padding-bottom:30px;
  padding-left:20px;
}
.column
{text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.choisir h2
{
  font-family: Shrikhand;
  font-size:28px;
  font-style:italic;
  padding-left:25px;
  padding-top:20px;
}
/*partie entree*/
.entre , .plats , .desserts
{ display:flex;
 flex-direction:column;
  animation:block 3000ms forwards;
}
 @keyframes block
{
 0%{
  transform:translatex(150px);
  opacity:0;
 }
 100%{
  transform:translatex(-10px);
  opacity:1;
 }
}

.entre h3, .plats h3 , .desserts h3
{
  font-weight:normal;
  display:flex;
  justify-content:start;
  align-items:start;
  font-size:16px;
  border-bottom:3px solid #99E2D0;
  width:40px;
  padding-top:25px;
}

.row
{
display:flex;
width:100%;
justify-content:space-between;
  height: 100%;
 align-items: center;
}
.choix
{
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
 border-radius:15.04px;
  width:100%;
  height:68px;
  background: #FFFFFF;
  margin:auto;
  margin-top:10px;
   font-size:15px; 
  padding-left:5px;
  cursor:pointer;
animation:block 5s;
}
.choix:nth-child(2){
 animation-delay: -1.5s;
}

.choix:nth-child(3)
{
 animation-delay: -1s;
}
.choix:nth-child(4)
{
 animation-delay: -0.5s;
}

 .fa-check
{
  background: white;
  color:#99E2D0;
  border-radius:25px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  height: 20px;
  width: 20px;
  margin:auto;
  margin-top:25px;
  font-size:13px;
}
 .check{
  border-radius: 0px 15px 15px 0px;
  background:#99E2D0;
  height: 69px;
  left: 290px;
  top: 1px;
  width:0px;
  opacity:0;
  transition: all 0.5s;
}
.choix:hover .check
{
  width:60px;
  opacity:1;
}
.column h4 , .column p
{
 text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
h4{font-weight: 500;
font-weight:bold;
font-size:18px;
}
.prix
{ display:flex;
 justify-content:end;
 align-items:end;
  font-weight:bold;
  font-size:18px;
 padding-right:10px;
}
.entre .choix .prix 
{
 padding-left:20%;
}
.plats h3 {
  width:30px;
}
.btn_commande
{
 background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%),
linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
border-radius: 25px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  height: 50px;
  padding-left:35px;
 padding-right:35px;
left: 0px;
top: 50px;
border-radius: 25px;
  margin:auto;
  color:white;
  margin-top:30px;
  }
.btn_commande:hover
{
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
 background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

/*cest la version tablette*/
@media screen and (min-width:768px) {
  .reservation h1
  {
    font-size:40px;
    font-weight:700;
  }
   .fonctionnement 
  {
    width:85%;
    display:flex;
    justify-content:center;
    margin:auto;
  }
 .btn_fonctionnement
{
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 width:100%;
}
 .btn
 {
  width:70%;
 }
  .align_menu
  {
     width:85%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:auto;
  }
 
.direction {
    display:flex;
    gap:20px;
    width:100%;
    flex-wrap:wrap;
}
 .card
 {
  width:48%;
 }
/*page restaurant*/
  .logo
  {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
  }
.img_delice{
  object-fit:cover;
  height:450px;
 max-width:1440px;
 }
 
  .align_page
  {
    width:85%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:auto;
  }
 
  .align_titre
  {
    display:flex;
    justify-content:space-evenly;
     }
  section.choisir
  {
    width:70%;
    display:flex;
    justify-content:center;
    margin:auto;
   margin-top:410px;
  }
  
  footer
  {
    display:flex;
    flex-direction:row-reverse;
   padding-top:40px;
   justify-content:end;
     padding-right:90px;} 

 .align_footer 
  {
    display:flex;
    flex-direction:row;
     }
 
  .partenaire
  {
    padding-right:40px;
  }
 .link {
  padding-left:10px;
  margin-right:30px;
}
}
/*cest la version desktop*/
@media screen and ( min-width:1025px)
{
    .btn_fonctionnement {
    display:flex;
    flex-direction:row;
  }
  .fonctionnement 
  {
    width:89%;
    display:flex;
    justify-content:center;
    margin:auto;
   margin-left:100px;
  }
 .btn_fonctionnement
{
 gap:30px;
 width:92%;
}
/*page restaurant*/
  .logo
  {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
  }
  .choisir
  {
    width:70%;
    display:flex;
    justify-content:center;
    margin:auto;
  }}